<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

This notebook will discuss and summarize matters on Data Science Tools and the Ecosystem

**Objectives:**
- List popular language for data science
- List commonly used libraries for data science
- List Data science tools
- Evaluate basic arithmetic expressions in python

Some of the popular languages that Data Scientists use are: 
1. Python
2. Ruby
3. Javascript

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Pytorch
4. TensorFlow

|Data Science Tools|
| ---------------- |
|      RStudio     |
|   Apache Spark   |
|  Apache Hadoop   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#his a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author


Badr Ramadan